apiVersion: v1
kind: ConfigMap
metadata:
  name: demo-api-configmap
  namespace: {{DEMO_API_NAMESPACE}} 
  
data:
  DB_URL: "{{DEMO_API_DB_URL}}"
  DATABASE: "{{DEMO_API_DB_DATABASE}}"
  USERNAME: "{{DEMO_API_DB_USERNAME}}"
  PASSWORD: "{{DEMO_API_DB_PASSWORD}}"
{% if APM_YN == 'Y' and APM_TYPE == 'elastic'  %} 
  JAVA_TOOL_OPTIONS: "-javaagent:/app/libs/elastic-apm-agent-1.33.0.jar -Delastic.apm.service_name=demo-api -Delastic.apm.server_urls={{ELASTIC_APM_SERVER_URLS}} -Delastic.apm.secret_token={{ELASTIC_APM_TOKEN}} -Delastic.apm.environment={{ELASTIC_APM_ENVIRONMENT}} -Delastic.apm.application_packages=com.example"
{% endif %}