apiVersion: v1
kind: ConfigMap
metadata:
  name: demo-fe-configmap
  namespace: {{DEMO_FE_NAMESPACE}} 
  
data:
  DEMO_API_URL: {{DEMO_FE_DEMO_API_URL}}
{% if APM_YN == 'Y' and APM_TYPE == 'elastic'  %} 
  JAVA_TOOL_OPTIONS: "-javaagent:/app/libs/elastic-apm-agent-1.33.0.jar -Delastic.apm.service_name=demo-fe -Delastic.apm.server_urls={{ELASTIC_APM_SERVER_URLS}} -Delastic.apm.secret_token={{ELASTIC_APM_TOKEN}} -Delastic.apm.environment={{ELASTIC_APM_ENVIRONMENT}} -Delastic.apm.application_packages=com.example"
{% endif %}