apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: demo-fe
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io 

spec:
  destination:
    server: https://kubernetes.default.svc
    namespace: {{DEMO_FE_NAMESPACE}}
  project: default
  source:
    repoURL: '{{DEMO_OPS_REPO_URL}}'
    path: demo-fe/{{DEMO_FE_ARGOCD_DEPLOY_TYPE}}
    targetRevision: {{DEMO_FE_ARGOCD_TARGET_REVISION}}
    
  syncPolicy:
    automated:
      prune: true
      selfHeal: true